__pycache__/
*.py[cod]
*$py.class

# outdated dir
Archieve/
Data_V1/
src (data v1)/

# large files or dir
Data/SDD*

# extra comment files
draft.py
*.out
*.png
*.pickle
*.log

# cluster related
jobscript